.app{
  text-align: center;
  margin: 20px auto 20px auto;
  width: 600px;
  min-height: 600px;
  border: 5px solid #22223B;
  padding: 20px;
}

.todo-wrapper{
  border-bottom: 1px solid #6A6262;
  text-align: left;
  margin-bottom: 10px;
}

.removeTodo{
  margin-right: 20px;
  margin-bottom: 10px;
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px 13px 8px 13px ;
  color: #A92B2E;
  background-color: transparent;
}
.removeTodo:hover{
  background-color: #610002;
  color: white;
  border-color:#610002 ;
}
.checkedTodo{
  text-decoration:line-through ;
}
.list-elm{
  border-bottom: 1px solid #efefef  ;
}
.todo-input-wrapper{
  margin-bottom: 20px;
}
.bt{
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
}

.bt-primary{
  color: #6A6262;
  border-color: #6A6262;
  background-color: #6A6262;
}
.bt-primary:hover{
  background-color: #6A6262;
  color: white;
}
.girdi{
  width: 80%;
  border: none;
  border-top: 2px solid #6A6262;
  border-bottom: 2px solid #6A6262;
  margin-right: 10px;
  padding: 5px;
  line-height: 17px;
}
.girdi:focus{
  outline: none;
  border: none;
  border-top: 2px solid #6A6262;
  border-bottom: 2px solid #6A6262;
}
.yok{
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
}

